<div  class="box">
  <a
  style= "cursor: pointer;"
  [routerLink]= "[index]"
  routerLinkActive= "active">

 <!-- <div class='flex-item'> -->
    <div class='grid-item'>

   <div>
     <label >Book Title:</label> <span class="list-group-item-heading">{{ book.name }}</span>
    </div> 
   <div> <label >Author:</label> <span class="list-group-item-text">{{ book.author }}</span></div>

   <div> <label >Price:</label> <span class="list-group-item-text">{{ book.price }}</span></div>
   <div> <label >Description:</label> <span class="list-group-item-text">{{ book.description }}</span></div> 


  </div>

</a>
</div>
