
 <div class="details"> 
  <div class="row">
    <div class="col">
      <h1>{{ book.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="manage">
        <span>
          Manage Book
        </span>
        <div>
          
          <button (click)="onEditBook()">Edit BOOK</button>
          <button (click)="onDeleteBook()">Delete BOOK</button>

        <div>
      </div>
    </div>
  </div>
  <div>
    <div class="description">
      {{ book.description }}
    </div>
  </div>
</div>
  
  